.RelativeDistinguishedName > .RelativeDistinguishedName-attribute[title] {
	cursor: help;
	border-bottom: 1px dotted #888;
}

.RelativeDistinguishedName > .RelativeDistinguishedName-equals {
	opacity: 0.5;
}
